body {
    background-color: #000000;
    width: 1200px;
    height: 865px;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
}

div.texto {

    width: 799px;
   
    flex-shrink: 0;

    color: #F6F6F6; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1 {
    width: 593px;
    font-family: "Krona One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 155.556% */
}

strong {
    color: #22D4FD
}

img {
    
    height: 550px;
    
}

a {
    border-radius: 16px;
    border: 0 solid #22D4FD;
    background: #22D4FD;

    display: flex;
    width: 280px;
    height: 79px;
    
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

    color: #000;


    /* H5 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
    text-decoration: none;
}

p {
    width: 593px;
    color: #F6F6F6;

    /* H4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 10px;
}